:root{
    --black: #121212;
    --white: #bababa;
    --light-black:#201f1f;
    --light-gray:#464646;
    --gray:#333;
    --silver:#969696;
    --dark-gray:#201f1f;
    --red: #c92130;
    --orange: #f96854;
    --light-red: #bd323d;
    --yellow:#f9ff0a;
    --blue:rgb(30,144,255);
    --light-blue:rgb(135,206,250);
    --green:rgb(19, 172, 37);
}


/*Fontes importadas
font-family: 'DotGothic16', sans-serif; 500
font-family: 'Source Sans Pro', sans-serif; 300

*/
*{
    box-sizing: border-box;
}
body{
    background: var(--black);
    font-family: sans-serif;
    position: relative;
}

/*geral*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 1300px;
    margin: .7em auto;
    gap: 1em;
}
.white{
    color: var(--white) !important;
}
.border{
    border: 1px solid var(--gray) !important;
    box-shadow: 0px 0 .5px 0 var(--white) !important;
}
/*btns*/
.btn-blue{
    background: linear-gradient(var(--light-blue),var(--blue)) !important;
    display: block;
}
.btn-red{
    background: linear-gradient(var(--light-red),var(--orange)) !important;
    display: block;
}
.btn-green{
    background: linear-gradient(var(--green),rgb(10, 116, 22)) !important;
    display: block;
}
/*Medias*/
@media(max-width: 1340px){
    main {
        width: 960px;
        grid-template-columns: 1fr;

    }
    .area-lateral{
        display: none;
    }
}
@media(max-width:1000px){
    main{
        width: 640px;
    }
    .banner{ 
        height:160px;
    }
}
@media(max-width:690px){
    main{
        width: 319px;
    }
    .banner{
        height:110px;
    }
}
