:root{
    --black: #121212;
    --white: #bababa;
    --light-black:#201f1f;
    --light-gray:#464646;
    --gray:#333;
    --dark-gray:#201f1f;
    --red: #c92130;
    --light-red: #bd323d;
    --yellow:#f9ff0a;
}


/*Fontes importadas
font-family: 'DotGothic16', sans-serif; 500
font-family: 'Source Sans Pro', sans-serif; 300

*/
*{
    box-sizing: border-box;
}
body{
    background: var(--black);
    font-family: sans-serif;
}

/*geral*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
}
