main{
    margin-top: 0;
    gap: 0;
    width: 100%;
    grid-template-columns:8fr 1fr;
}
#menu a{
    display: block;
    padding: 1em;
    color: var(--white);

}
#menu a:hover{
    color: var(--light-red);
    cursor: pointer;
}

/*barra lateral*/
.nomes-container .body:hover{
    cursor: pointer;
}
.nomes-container .body:hover a{
    color: var(--red);
}
/*Dropdown*/

.dropdown-toggler + .dropdown-container{
    display: none;
}
.dropdown:hover .dropdown-toggler + .dropdown-container{
    display: block;
    width: 100%;
}


.nomes-container .body:hover{
    background: var(--light-black);
}
.nomes-container .dropdown:hover{
    background: none;
}
.dropdown-toggler i{
    transition: .4s;
    transform: rotate(-90deg);
}
.dropdown:hover .dropdown-toggler i{
    transform: rotate(0deg);
}
.dropdown .dropdown-container .dropdown-item{
    display: block;
    padding: .6em;
    text-align: center;
    color: var(--light-gray) !important;
    border-bottom: 1px solid var(--white);
    border-radius: 50%;
}
.area-lateral .noticia .body{
    padding-left: .3em;
}
.dropdown .dropdown-container .dropdown-item:hover{
    color: var(--white) !important;
    border-bottom: 1px solid var(--blue);
}
/*Pagina Principal*/
.pag-principal h1{
    text-align: center;
    color: var(--white);
    font-size: 2em;
}
.pag-principal .cabecalho{
    border-bottom: 1px solid var(--light-gray);
}
.pag-principal .body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
}
/*Form*/
.pag-principal .body form label{
    font-weight: 600;
}
.pag-principal .body form .form-group{
    padding: .6em 0;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}
.pag-principal .body form .form-group input,.pag-principal .body form .form-group textarea,.pag-principal .body form .form-group select{
    padding: .5em;
    border: 1px solid white;
    border-radius: .6em;
    outline: 0;
    width: 100%;
    margin-top: .3em;
    background: transparent;
    color: white;
}
.pag-principal .body form .form-group select option{
    color: var(--black);
}
.pag-principal .body form  .form-group-checkbox{
    color: var(--white);
}
.pag-principal .body form  .form-group-checkbox label{
    text-align: center;
    display: block;
}
.pag-principal .body form .form-group-checkbox .categorias{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
.pag-principal .body form .form-group-checkbox .categorias .categoria{
    margin: .5em;
}   
.pag-principal .body form .submit{
    border: none;
    padding: 1em;
    width: 100%;
    outline: 0;
    background: linear-gradient(var(--light-blue),var(--blue));
    color:white;
    border-radius: .5em;
    transition: .5s;
}
.btn-blue{
    background: linear-gradient(var(--light-blue),var(--blue)) !important;
}
.btn-red{
    background: linear-gradient(var(--light-red),var(--orange)) !important;
}
.btn-green{
    background: linear-gradient(rgb(19, 172, 37),rgb(10, 116, 22)) !important;
}
.pag-principal .body form .submit:hover{
    opacity: .8;
    cursor: pointer;
    color:black;
}
/*Lista de items*/
.pag-principal .body .col-2{
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: scroll;
    padding: 0 !important;
}
.pag-principal .body .col-2 .item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-weight:600;
    color:white;
    box-sizing: border-box;
}
/*button*/
.pag-principal .body .col-2 .item button{
    padding: .4em;
    border: none;
    outline: 0;
    border-radius:.5em;
    background: transparent;
    color: white;
    transition: .5s;
}
.pag-principal .body .col-2 .item button:hover{
    color: white;
    cursor: pointer;
}
.pag-principal .body .col-2 .item .links{
    display: flex;
}
.pag-principal .body .col-2 .item .edite{
    border: 1px solid var(--yellow);
}
.pag-principal .body .col-2 .item .edite:hover{
    background:var(--yellow);
    color: var(--black);
}
.pag-principal .body .col-2 .item .remove{
    border: 1px solid var(--red);
}
.pag-principal .body .col-2 .item .remove:hover{
    background:var(--red);
    color: var(--black);
}
@media(max-width: 1340px){
    main {
        width: 100%;
        grid-template-columns:8fr 1fr;
    }
    .area-lateral{
        display: block;
    }
}
@media(max-width:1000px){
    main{
        width: 100%;
        grid-template-columns:7fr;
    }
    header .navbar .nav {
        display: block;
    }
    .area-lateral{
        display: none;
    }
}
@media(max-width:690px){
    main{
        width: 100%;
        grid-template-columns:8fr;
        gap: 0;
    }
    .hamburger{
        align-self: center;
    }
    .area-lateral{
        display: none;
    }
    .pag-principal .body{
        grid-template-columns: 1fr;
    }
    .pag-principal .body .col-2,.pag-principal .body .col-1{
        margin-bottom: 3em;
    }

}
@media(min-width:1340px){
    #menu{
        display: none !important;
    }
}
