/*area lateral*/
/*Noticias*/
.area-lateral .noticia .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 600;
}
.area-lateral .noticia .body .mensagem,.area-lateral .noticia .body button{
    display: block;
    margin: 1em;
}
.area-lateral .noticia .body button{
    padding: .5em 1em;
    outline: 0;
    border: 0;
    color: white;
    background: linear-gradient(var(--dark-gray),var(--gray)) ;
}
.area-lateral .noticia .body button:hover{
    cursor: pointer;
    opacity: .8;
}
.area-lateral .noticia .body,.area-lateral .noticia .cabecalho{
    padding: .6em 0;
    text-align: center;
    border: .2px solid var(--gray);
    box-shadow: 0px 0 .5px 0 var(--white);
}
.area-lateral .noticia .cabecalho{
    color: var(--red);
    font-size: 1.1em;
    font-weight: 600;
}
/*Lista de nomes animes*/
.area-lateral .anime-nome-list .nomes-container{
    max-height: 80vh;
    overflow-y: scroll;
}
.area-lateral .anime-nome-list .body{
    align-items: flex-start;
    padding-left: 2em;
}
.area-lateral .anime-nome-list .body .mensagem {
    margin: 0;
    padding: .2em 0;
    font-weight: 500;
}
.area-lateral .anime-nome-list .body .mensagem:hover{
    color: var(--red);
    cursor: pointer;
}
@media(max-width:1000px){
    .banner{ 
        height:160px;
    }
}
@media(max-width:690px){
    .banner{
        height:110px;
    }
}
