header{
    border-bottom: .2px solid var(--gray);
    box-shadow: 0px 0 .5px 0 var(--white);
}
.area-principal{
    border: 1px solid var(--gray);
    box-shadow: 0px 0 .5px 0 var(--white);
}
.anime,.titulo{
    border-bottom: 1px solid var(--gray);
    box-shadow: 0px 0 .5px 0 var(--white);
}
.titulo{
    padding: 1em 0;
    color:var(--red);
    text-align:center;
    font-size: 1.3em;
    font-weight: 600;
}
.anime{
    color: white;
    padding: .7em 1em;
    display: block;
}
.anime:hover{
    color: var(--red);
    cursor: pointer;
}

main{
    margin-top: 0;
}

/*Medias*/
@media(max-width: 1340px){
    main {
        width: 960px;
        grid-template-columns: 1fr;

    }
    .area-lateral{
        display: none;
    }
}
@media(max-width:1000px){
    main{
        width: 640px;
    }
    .banner{ 
        height:160px;
    }
    .area-animes{
        grid-template-columns: 1fr;
    }
}
@media(max-width:690px){
    main{
        width: 319px;
    }
    .banner{
        height:110px;
    }
}